<div class="container-fluid">
    <div class="row align-items-center justify-content-center" style="height: 100vh;">
        <div class="col-sm-4" style="outline: 1px dotted grey;">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                <!-- <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1">
                </div> -->

                <div class="form-floating mb-3 input-space">
                    <input type="email" class="form-control" id="floatingInput" formControlName="email" placeholder="" required>
                    <label for="floatingInput">Email address</label>
                </div>

                <!-- <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div> -->

                <div class="form-floating input-space">
                    <input type="password" class="form-control" id="floatingPassword" formControlName="password" placeholder="" required>
                    <label for="floatingPassword">Password</label>
                </div>

                <button id="button" type="submit" class="btn btn-outline-light" [disabled]="loginForm.invalid">Log in</button>

                <button type="button" class="btn btn-light" routerLink="/signup">Signup</button>

            </form>
        </div>
    </div>
</div>